<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeTS</title>
</head>
<body>
    <h1>Blog</h1>
    <div>
        <p class="copy">&copy; htam 2020 | Todos Direitos Reservados</p>
    </div>
</body>
</html>